<% cache comment do %>
  <li>
    <div class="commentText">
      <p class=""><b><%= comment.user.username %></b> <i>said</i> "<%= comment.content %>"</p> <span class="date sub-text"><%= comment.created_at %></span>
    </div>
  </li>
<% end %>
